{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home.css' %}">
        {% block style %}

        {% endblock style %}
    </head>
    <body>
        <ul class="topnav">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="right"><a href="#about">About</a></li>
          </ul>
    {% block body %}
    
    {% endblock body %}
    </body>
</html>